*, *::before, *::after {
    box-sizing: border-box;
    font-family: Papyrus;
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #48216d;
  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(115, 20, 170);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 30px;
    margin-top: 20px;
  }
  
  .btn {
    background-color: hsl(192, 56%, 42%);
    border: 1px solid hsl(167, 75%, 49%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(41, 238, 139);
    outline: none;
  }
  
  .btn:hover {
    border-color: rgb(43, 221, 96);
  }